cls{% set title = 'daybook' %}
{% set filename = 'daybook-date.html' %}

{% extends 'src/layouts/jayaram.html' %}

{% block styles %}
<link rel="stylesheet" href="/assets/scss/iconly.scss">
{% endblock %}

{% block content %}
<div class="page-heading">
    <h3>daybook</h3>
</div> 
<div class="page-content"> 
    <section class="row">
        <div class="col-12">
            <div class="row m-3">
                <div class="col">
                    <input kvs1="" id="DateId" name="date" type="date" class="form-control">
                </div>
                <div class="col">
                    <button class="btn btn-primary" type="button" id="RefreshBSTableId">
                        <span class="spinner-border spinner-border-sm" id="SpinnerId"
                            aria-hidden="true"></span>
                        <span role="status">Show</span>
                    </button>
                </div>
            </div>
        </div>
        <div class="col-12">
            <table id="table">
                <thead>
                    <tr id="tableHeadRow">
                        <th data-field="id" data-formatter="jFGlobalSerialColumn">#</th>
                        <!-- <th data-field="Year" data-filter-control="select">Year</th>
                        <th data-field="Month" data-filter-control="select">Month</th>
                        <th data-field="Day" data-filter-control="select">Day</th> -->
                        <th id="DateFilterId" data-formatter="jFGlobalForDate">Date</th>
                        <th id="AccountNameId">Account Name</th>
                        <th data-field="acc_cod">No</th>
                        <th data-field="des">Description</th>
                        <th data-field="nam4">Info</th>
                        <!-- <th data-field="amt" data-halign="left" data-align="right" >Amount</th> -->
                        <th id="CreditId" data-footer-formatter="priceFormatterSum">Credit</th>
                        <th id="DebitId" data-footer-formatter="priceFormatterSum">Debit</th>
                        <th data-field="Balance" data-footer-formatter="priceBalance">Balance</th>
                    </tr>
                </thead>
            </table>
        </div>
    </section>
</div>
{% endblock %}
{% block js %}
<!-- Need: Apexcharts -->
<script src="assets/extensions/apexcharts/apexcharts.min.js"></script>
<script src="assets/static/js/pages/dashboard.js"></script>
{% endblock %}